/* CSS TRIGGER */
#check{
  display: none;
}
#check2{
  display: none;
}
#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 34%;
}
#check:checked ~ .body-section{
  margin-left: 2vw;
  width: 100vw;

} 

.write{
  animation:cursor 500ms  normal,writeText1 3s steps(90) 1s normal both;
}
.write2{
  animation:cursor 500ms 4s infinite  normal,writeText2 3s steps(90) 4s normal both;
}

@keyframes writeText1{
  from{
    width: 0;
  }
  to{
    width: 350px;
  }
}

@keyframes writeText2{
  from{
    width: 0;
  }
  to{
    width: 680px;
  }
}
@keyframes cursor{
  from{
    border-right-color:black ;
  }
  to{
    border-right-color: transparent;
  }
}
